* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: url("./assets/gaming_esport.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 0, 0.362); */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.388);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  font-weight: bold;
}
div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.5rem;
}

nav > div > button {
  padding: 10px;
  background: none;
  color: white;
  border: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

form,
.glass {
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.388);
  padding: 3rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > div,
.glass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form > div >,
.glass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
